/*custom css*/
body{
	background-color: #B2C6E8;
}

.bg-blue{
  background-color: #B2C6E8;
}

input[type="checkbox"].onlinecheckbox  {
    color: #ffffff;
}

.checkbox input[type="checkbox"].onlinecheckbox:checked  {
    background-color: #428bca;
}

#section {
    width:500px;
    float:left;
    margin-left:120px;    
    padding-left:72px; 
}

#nav {
    line-height:30px;
    height:300px;
    width:250px;
    float:left;
    margin-left:75px;
}

.todo{
	margin-left:32px;
}

.todoitems{
	margin-left:8px;
}

.checklist{
	margin-left: -5px;
}

.checkboxlist{
	height:35px; 
	width:45px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	background-color: #B2C6E8;
	border-right:15px solid blue; 
}

.verticalLine{
	border-left: thick solid white;
}

.people{
  color:white;
  font-size: 20px;
}



/* LESS Variables */
/* -------------- */
/* General */
/* Button Bar */
/* Button */
/* Elements */
/* -------- */
/*html {
  line-height: 1.5;
  text-align: center;
}*/
h1 {
  text-size: 10px;
}
a {
  text-decoration: none;
}
/* Layout */
/* ------ */
h1.welcome,
.button-bar {
  margin: 10px auto;
  height: auto;
}
.button-bar {
}
/* General Button */
/* -------------- */
.button {
  position: relative;
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #d9534f;
  color: white;
  font-size: 14px;
}
.button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}
.button:hover {
  background: #d9534f;
}
/* Arrow Buttons */
/* ------------- */
.next::after,
.prev::after {
  border-style: solid;
}
/* Next Button */
/* ----------- */
.next::after {
  right: -18px;
  border-width: 9px;
  border-color: transparent transparent transparent #d9534f;
}
.next:hover::after {
  border-left-color: #d9534f;
}
/* Prev Button */
/* ----------- */
.prev::after {
  left: -18px;
  border-color: transparent #d9534f transparent transparent;
  border-width: 9px;
}
.prev:hover::after {
  border-right-color: #d9534f;
}


.rectangle-box-addTask{
    position: relative;
    width: 316px;
    height: 49px;
    overflow: hidden;
    background: #B2C6E8;
}
.rectangle-box-addTask:before{
    content: "";
    display: block;
    padding-top: 50%;
}
.rectangle-content{
   border-style: solid;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.rectangle-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 20px
}

.rectangle-box-todocheck{
    position: absolute;
    width: 258px;
    height: 49px;
    overflow: hidden;
    background: #A8D08F;
    margin-left: 57px;
    top:0;
}
.rectangle-box-todocheck:before{
    content: "";
    display: block;
    padding-top: 50%;
}

.rectangle-box-todoyet{
    position: absolute;
    width: 258px;
    height: 49px;
    overflow: hidden;
    background: #70AD47;
    margin-left: 57px;
    top:0;
}
.rectangle-box-todoyet:before{
    content: "";
    display: block;
    padding-top: 50%;
}

.rectangle-box-addpeople{
    position: relative;
    width: 47px;
    height: 49px;
    overflow: hidden;
    background: #B2C6E8;
    margin-left: 17px;    
}
.rectangle-box-addpeople:before{
    content: "";
    display: block;
    padding-top: 50%;
}

.editTodoCheck{
  background-color: #A8D08F;
  height:43px;
  width:253px;
  top:0;
  left:0;
  position: absolute;
  text-align: center;
}

.editTodoYet{
  background-color: #70AD47;
  height:43px;
  width:253px;
  top:0;
  left:0;
  position: absolute;
  text-align: center;
}

.container-events{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.sectionevent{
  padding-bottom:120px;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 0;
}

.container{
    padding-bottom: 15px;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 672px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalDialogDelete > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalDialogDelete {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogDelete:target {
	opacity:1;
	pointer-events: auto;
}

.hr1{
    max-width: 100%;
    border-width: 2px;
    align: center;
}


hr1 {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr1.light {
    border-color: #fff;
}